/* ATTENTION : ne pas utiliser la class="photo" : elle est utilisée par la lightbox javascript */

* {
    box-sizing: border-box;
    --main-black-color: rgba(0, 0, 0, 0.8);
    --main-white-color: rgba(255, 255, 255, 0.8);
}

/* header centré à l'écran avec marges de chaque côté */
.site-header {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

/* menu en Flex pour pouvoir aligner verticalement les liens avec le module Facebook */
.main-navigation {
    padding-bottom: 1%;
    text-align: center;
    padding-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: linear-gradient(var(--main-white-color), 85%, rgba(0, 0, 0, 0));
}

.main-navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.main-navigation ul li {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    display: inline-block;
    padding: 0.5em; 
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: box-shadow, background-color, color, border;
    transition-property: box-shadow, background-color, color, border, -webkit-box-shadow;
}

.main-navigation ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px, transparent;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
}

.main-navigation ul li a {
    text-decoration: none;
    color: black;
}

.facebook {
    margin: 1vh 1vw 1vh 1vw;
}

/* Contenu centré à l'écran avec marges de chaque côté */
.site-main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    clear: both;
}

/* Image de gauche, en arrière-plan */
.colonne-gauche {
    background: url("../img/portrait.jpg") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 49%;
    border: solid var(--main-black-color) 10px;
    /* Animation de défilement de plusieurs photos sur la colonne gauche */
    animation-name: defil-photos;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@keyframes defil-photos {
  0% {
    background: url("../img/Portrait_de_Sébastien_Velly.jpg") no-repeat;
    background-size: cover;
  }
  33% {
    background: url("../img/Concert_de_Sébastien_Velly_au_Cabaret_Kerhorre_29-09-2018_13.jpg") no-repeat;
    background-size: cover;
  }
  66% {
    background: url("../img/Concert_de_Sébastien_Velly_au_Cabaret_Kerhorre_29-09-2018_4.jpg") no-repeat;
    background-size: cover;
  }
  100% {
    background: url("../img/Portrait_de_Sébastien_Velly.jpg") no-repeat;
    background-size: cover;
  }
}

/* Texte de présentation, en superposition */
.colonne-gauche:hover #presentation {
	display: block !important;
}

.colonne-gauche #presentation {
	display: none;
	position: absolute;
	z-index: 10;
	left: 10%;
	top: 10%;
	width: 80%;
	padding: 20px;
	background: var(--main-black-color);
	color: white;
	border-radius: 5px;
}

/* Titre Sébastien Velly */
.logo-titre {
    width: 50%;
    float: right;
    margin-bottom: 1%;
    background-color: var(--main-black-color);
    z-index: 1;
    clear: both;
}

.logo-titre img {
    padding: 2% 20%;
}

/* Bloc actu, se positionne à droite de l'image de gauche */
article {
    clear: both;
    width: 50%;
    float: right;
    z-index: 1;
    border: solid var(--main-black-color) 10px;
}

.entry-header {
    background-color: var(--main-black-color);
    padding: 5px;
    color: white;
}

.entry-header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
}

/* Ajout d'une Div pour un arrière-plan blanc qui ne soit pas en-dessous des bordures transparentes */
.entry-content {
    background-color: var(--main-white-color);
    padding: 3% 5% 3% 5%
}

/* Image de la page d'accueil */
.entry-content.actu img {
    max-width: 100%;
    padding: 0 20%;
    margin-top: 3%;
    margin-bottom: 0;
}

/* Autres images */
article img {
    max-width: 100%;
    padding: 0 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Image de la page contact */
article .grid-2-small-1 img {
    padding: 0 3%;
    margin-top: 0;
    width: 100%;
}

/* Bloc musique et autres, se positionne sur l'image de gauche */
body.page-template-page-musique article, body.page-template-page-galery article, body.page-template-page-concert article, body.page-template-page-cours article, body.page-template-page-contact article {
    width: 100%;
    position: relative;
}

/* Vidéos Youtube */
.entry-content figure {
    display: inline-block;
}

.entry-content figure iframe {
    max-width: 100%;
}

/* Les images de la galerie n'ont pas de padding de 20% */
.entry-content a {
    display: inline-block;
    color: black;
}

.entry-content a.prec-suiv {
    float: right;
}

.entry-content a:hover {
    font-weight: bold;
}

.galery {
    text-align: center;
}

.galery img {
    width: auto;
    height: 20vh;
    margin-top: 0;
    padding: 1% 1%;
}

/* Affiche les séparateurs dans la page Concerts */
.entry-content hr {
    background-color: var(--main-black-color);
    height: 1.5px;
    margin: 0;
}

/* Texte de présentation de l'album, en superposition sur la page contact*/
.entry-content.grid-2-small-1 div {
    position: relative;
}

.entry-content.grid-2-small-1 div:hover #presentation-album {
	display: block !important;
}

.entry-content.grid-2-small-1 div #presentation-album {
	display: none;
	position: absolute;
	z-index: 10;
	left: 10%;
	top: 10%;
	width: 80%;
	padding: 20px;
	background: var(--main-black-color);
	color: white;
	border-radius: 5px;
}

/* Texte centré, uniquement pour la page contact */
.entry-content.grid-2-small-1 #divForm h2 {
    text-align: center;
}

/* Mise en forme du formulaire */
.entry-content.grid-2-small-1 #divForm {
    margin: 0 10%;
}

.entry-content.grid-2-small-1 input, .entry-content.grid-2-small-1 textarea {
    width: 100%;
}

.entry-content.grid-2-small-1 label {
    margin-top: 1%;
    margin-bottom: -1%;
}

.entry-content.grid-2-small-1 #envoyer {
    margin-top: 2%;
}

/* Footer centré à l'écran avec marges de chaque côté */
.site-footer {
    clear: both;
    text-align: center;
    width: 80%;
    margin: 1% auto 0 auto;
    background-color: var(--main-black-color);
}

.site-footer p {
    color: white;
    padding: 1em;
}

.site-footer a {
    color: white;
}

.site-footer a:hover {
    font-weight: bold;
}

/* Pour téléphones et tablettes en portrait : l'image de gauche se met en arrière-plan */
@media screen and (max-width: 480px), (orientation: portrait) {
    /* Change l'opacity de la couleur principale */
    * {
        --main-black-color: rgba(0, 0, 0, 0.7);
        --main-white-color: rgba(255, 255, 255, 0.7);
    }
    /* Diminue la taille des polices */
    h2 {
        font-size: 2rem;
    }
    .has-medium-font-size {
        font-size: 15px;
    }
    /* Réduit les marges du main */
    .site-main {
        width: 90%;
    }
    .site-header {
        width: 90%;
    }
    .site-footer {
        width: 90%;
    }
    /* Modifie le menu */
    .main-navigation ul li {
        font-size: 1.25em;
        padding: 0.5em 0.5em;
    }
    /* Met la colonne-gauche en bas */
    .colonne-gauche {
        position: relative;
        width: 100%;
        height: 700px;
        margin-top: 1%;
    }
    .logo-titre, article {
        float: none;
        width: 100%;
    }
    /* Réduit les marges des l'images */
    .entry-content.actu img {
        padding: 0 10%;
    }
    .galery img {
        height: auto;
        padding: 0;
    }
    /* Adapte le design de la page concerts */
    .wp-block-media-text.has-media-on-the-right {
        grid-template-areas: none;
    }
    .wp-block-media-text {
        display: block;
        text-align: center;
    }
    /* Espace le contenu et l'image dans la page cours */
    #contenu-cours {
        margin-bottom: 5%;
    }
}